.image {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 400px;
}

.list {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 30px;
}

.item {
  color: #2e2e2e;
  display: flex;
  gap: 40px;
  overflow: hidden;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  background-color: var(--white-bg-color);
  padding: 10px;
  margin: 30px 0px 0px;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.043) 0px 0px 5px 3px;
}

.wrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.text {
  margin: 0;
  margin: 0 0 30px;
}
.price {
  display: flex;
  justify-content: flex-end;
  font-weight: 700;
  font-size: 24px;
}

.title {
  display: flex;
  margin: 0 0 15px;
  width: 100%;
  transition: 0.25s;
  font-size: 23px;
}

.linkTitle:hover {
  color: var(--main-text-color);
}

.actions {
  width: 100%;
  display: flex;
  justify-content: center;
}

.btn {
  min-width: 150px;
  padding: 8px 0;
  background-color: var(--main-text-color);
  border-radius: 4px;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  transition: 0.25s;
}

.btn:hover {
  background-color: #f8aae6;
}

.btn:active {
  background-color: #f555d8;
}
